Repository josephrichard7/proxmox-mpc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run typecheck, npm run test:coverage

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "npm run typecheck",
    "npm run test:coverage"
  ]
}

chore: update version to v1.0.0 for production release
  CHANGELOG.md
  package.json
  src/utils/version.ts
Due: eslint --fix, prettier --write, npm run typecheck, npm run test:coverage

docs: update documentation site for v1.0.0 release
  README.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/index.md
Due: prettier --write

feat: complete Phase 7 Release Execution & Deployment (DEPLOY-001 through DEPLOY-006)
  ANNOUNCEMENT-v1.0.0.md
  RELEASE-ANNOUNCEMENT-LOG.md
  RELEASE-MONITORING-v1.0.0.md
Due: prettier --write

docs: add Phase 7 completion summary
  docs/release/PHASE_7_COMPLETION_SUMMARY.md
Due: prettier --write

docs: implement comprehensive documentation governance framework
  .gitignore
  docs/CONTENT_LIFECYCLE.md
  docs/DOCUMENTATION_STANDARDS.md
  docs/index.md
  docs/templates/README.md
  docs/templates/adr-template.md
  docs/templates/api-reference-template.md
  docs/templates/feature-template.md
  docs/templates/release-notes-template.md
  docs/templates/troubleshooting-template.md
  docs/templates/tutorial-template.md
  scripts/validate-docs.sh
Due: prettier --write

feat: implement comprehensive status dashboard with TDD
  src/__tests__/console/status-command.test.ts
  src/console/commands/status.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive data anonymization system (Issue #19)
  .proxmox/diagnostics/snapshot-4d9457ac-1f44-408c-a553-1ef2d588d74b.json
  .proxmox/diagnostics/snapshot-50238f4a-4675-4ec6-9c69-e733b11796a4.json
  .proxmox/diagnostics/snapshot-585b227e-7333-4a82-997d-2f4adc148e57.json
  .proxmox/diagnostics/snapshot-960d7981-a707-485c-90ef-00ca8eb4132c.json
  CLAUDE.md
  PLAN.md
  docs/PHASE_19_DATA_ANONYMIZATION_SUMMARY.md
  mcp-wrapper/src/github-projects-mcp.ts
  src/anonymization/__tests__/AnonymizationEngine.test.ts
  src/anonymization/__tests__/DataProcessors.test.ts
  src/anonymization/__tests__/Integration.test.ts
  src/anonymization/__tests__/PseudonymManager.test.ts
  src/anonymization/engine/AnonymizationEngine.ts
  src/anonymization/engine/PseudonymManager.ts
  src/anonymization/index.ts
  src/anonymization/processors/ConfigDataProcessor.ts
  src/anonymization/processors/DatabaseDataProcessor.ts
  src/anonymization/processors/ErrorDataProcessor.ts
  src/anonymization/processors/LogDataProcessor.ts
  src/anonymization/rules/ProxmoxRules.ts
  src/anonymization/types/anonymization-types.ts
  src/console/commands/anonymize.ts
  src/console/commands/help.ts
  src/console/commands/index.ts
  src/console/commands/privacy.ts
  src/console/commands/report-issue.ts
  src/observability/diagnostics.ts
  src/web/api/__tests__/routes/infrastructure.test.ts
Due: eslint --fix, prettier --write

feat: implement React Ink TUI framework migration
  .proxmox/diagnostics/snapshot-c2459bd2-27cf-4b6f-8685-82f3b1206d82.json
  PLAN.md
  docs/opentui-implementation.md
  jest.config.js
  package-lock.json
  package.json
  src/tui/App.tsx
  src/tui/TUIConsole.tsx
  src/tui/__tests__/App.test.tsx
  src/tui/__tests__/CommandInput.test.tsx
  src/tui/__tests__/TUIConsole.test.tsx
  src/tui/__tests__/__mocks__/ink-testing-library.ts
  src/tui/__tests__/__mocks__/ink.ts
  src/tui/__tests__/components/CommandPrompt.test.tsx
  src/tui/__tests__/components/Header.test.tsx
  src/tui/__tests__/components/StatusBar.test.tsx
  src/tui/components/CommandInput.tsx
  src/tui/components/CommandPrompt.tsx
  src/tui/components/Header.tsx
  src/tui/components/StatusBar.tsx
  src/tui/components/index.ts
  src/tui/index.ts
  src/tui/index.tsx
  src/tui/launcher.ts
  src/tui/types.ts
  src/types/ink-testing-library.d.ts
  src/types/ink.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npm run typecheck, npm run test:coverage
